USE [master]
GO
/****** Object:  Database [DOSP]    Script Date: 4.08.2022 12:47:43 ******/
CREATE DATABASE [DOSP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DOSP', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DOSP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DOSP_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DOSP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DOSP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DOSP]
GO
/****** Object:  Table [dbo].[AdminReport]    Script Date: 4.08.2022 12:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminReport](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ReportID] [int] NOT NULL,
 CONSTRAINT [PK_adminRapor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminTicket]    Script Date: 4.08.2022 12:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminTicket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TicketID] [int] NOT NULL,
 CONSTRAINT [PK_adminTicket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Basket]    Script Date: 4.08.2022 12:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Basket](
	[BasketID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Sepets] PRIMARY KEY CLUSTERED 
(
	[BasketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasketGame]    Script Date: 4.08.2022 12:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasketGame](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BasketID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
	[isPaid] [bit] NOT NULL,
 CONSTRAINT [PK_sepetOyun] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4.08.2022 12:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Kategoris] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Developer]    Script Date: 4.08.2022 12:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Developer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Yapimcis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 4.08.2022 12:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Price] [int] NOT NULL,
	[Description] [nvarchar](512) NULL,
	[DeveloperID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ReleaseDate] [datetime2](7) NOT NULL,
	[CoverPhoto] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Oyuns] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Library]    Script Date: 4.08.2022 12:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Library](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
 CONSTRAINT [PK_Library] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 4.08.2022 12:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ReportDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[GameID] [int] NOT NULL,
 CONSTRAINT [PK_Rapors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportCategory]    Script Date: 4.08.2022 12:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_RaporKategoris] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 4.08.2022 12:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4.08.2022 12:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nickname] [nvarchar](16) NOT NULL,
	[FullName] [nvarchar](32) NOT NULL,
	[RegistrationDate] [datetime2](7) NOT NULL,
	[Wallet] [int] NOT NULL,
	[Password] [nvarchar](32) NOT NULL,
	[Role] [nvarchar](3) NOT NULL,
	[ProfilePicture] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kullanicis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__adminRapo__Kulla__7DCDAAA2]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__adminRapo__Kulla__7DCDAAA2] ON [dbo].[AdminReport]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__adminRapo__Rapor__7CD98669]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__adminRapo__Rapor__7CD98669] ON [dbo].[AdminReport]
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__adminTick__Kulla__7FB5F314]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__adminTick__Kulla__7FB5F314] ON [dbo].[AdminTicket]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__adminTick__Ticke__7EC1CEDB]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__adminTick__Ticke__7EC1CEDB] ON [dbo].[AdminTicket]
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Sepet__Kullanici__22751F6C]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__Sepet__Kullanici__22751F6C] ON [dbo].[Basket]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__sepetOyun__OyunI__0539C240]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__sepetOyun__OyunI__0539C240] ON [dbo].[BasketGame]
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__sepetOyun__Sepet__245D67DE]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__sepetOyun__Sepet__245D67DE] ON [dbo].[BasketGame]
(
	[BasketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Yapimci__Kullani__6B79F03D]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__Yapimci__Kullani__6B79F03D] ON [dbo].[Developer]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Oyun__KategoriID__025D5595]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__Oyun__KategoriID__025D5595] ON [dbo].[Game]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Oyun__YapimciID__035179CE]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__Oyun__YapimciID__035179CE] ON [dbo].[Game]
(
	[DeveloperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Kutuphane__Kulla__0A9D95DB]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__Kutuphane__Kulla__0A9D95DB] ON [dbo].[Library]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Kutuphane__OyunI__0169315C]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__Kutuphane__OyunI__0169315C] ON [dbo].[Library]
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Rapor__KategoriI__1F98B2C1]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__Rapor__KategoriI__1F98B2C1] ON [dbo].[Report]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Rapor__Kullanici__208CD6FA]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__Rapor__Kullanici__208CD6FA] ON [dbo].[Report]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Rapor__OyunID__04459E07]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__Rapor__OyunID__04459E07] ON [dbo].[Report]
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Ticket__Kullanic__2A164134]    Script Date: 4.08.2022 12:47:43 ******/
CREATE NONCLUSTERED INDEX [IX_FK__Ticket__Kullanic__2A164134] ON [dbo].[Ticket]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_ReleaseDate]  DEFAULT (getdate()) FOR [ReleaseDate]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_CoverPhoto]  DEFAULT (N'game-photo.jpg') FOR [CoverPhoto]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_ProfilePicture]  DEFAULT (N'default-pp.jpg') FOR [ProfilePicture]
GO
ALTER TABLE [dbo].[AdminReport]  WITH CHECK ADD  CONSTRAINT [FK__adminRapo__Kulla__7DCDAAA2] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[AdminReport] CHECK CONSTRAINT [FK__adminRapo__Kulla__7DCDAAA2]
GO
ALTER TABLE [dbo].[AdminReport]  WITH CHECK ADD  CONSTRAINT [FK__adminRapo__Rapor__7CD98669] FOREIGN KEY([ReportID])
REFERENCES [dbo].[Report] ([ID])
GO
ALTER TABLE [dbo].[AdminReport] CHECK CONSTRAINT [FK__adminRapo__Rapor__7CD98669]
GO
ALTER TABLE [dbo].[AdminTicket]  WITH CHECK ADD  CONSTRAINT [FK__adminTick__Kulla__7FB5F314] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[AdminTicket] CHECK CONSTRAINT [FK__adminTick__Kulla__7FB5F314]
GO
ALTER TABLE [dbo].[AdminTicket]  WITH CHECK ADD  CONSTRAINT [FK__adminTick__Ticke__7EC1CEDB] FOREIGN KEY([TicketID])
REFERENCES [dbo].[Ticket] ([ID])
GO
ALTER TABLE [dbo].[AdminTicket] CHECK CONSTRAINT [FK__adminTick__Ticke__7EC1CEDB]
GO
ALTER TABLE [dbo].[Basket]  WITH CHECK ADD  CONSTRAINT [FK__Sepet__Kullanici__22751F6C] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Basket] CHECK CONSTRAINT [FK__Sepet__Kullanici__22751F6C]
GO
ALTER TABLE [dbo].[BasketGame]  WITH CHECK ADD  CONSTRAINT [FK__sepetOyun__OyunI__0539C240] FOREIGN KEY([GameID])
REFERENCES [dbo].[Game] ([ID])
GO
ALTER TABLE [dbo].[BasketGame] CHECK CONSTRAINT [FK__sepetOyun__OyunI__0539C240]
GO
ALTER TABLE [dbo].[BasketGame]  WITH CHECK ADD  CONSTRAINT [FK__sepetOyun__Sepet__245D67DE] FOREIGN KEY([BasketID])
REFERENCES [dbo].[Basket] ([BasketID])
GO
ALTER TABLE [dbo].[BasketGame] CHECK CONSTRAINT [FK__sepetOyun__Sepet__245D67DE]
GO
ALTER TABLE [dbo].[Developer]  WITH CHECK ADD  CONSTRAINT [FK__Yapimci__Kullani__6B79F03D] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Developer] CHECK CONSTRAINT [FK__Yapimci__Kullani__6B79F03D]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK__Oyun__KategoriID__025D5595] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK__Oyun__KategoriID__025D5595]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK__Oyun__YapimciID__035179CE] FOREIGN KEY([DeveloperID])
REFERENCES [dbo].[Developer] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK__Oyun__YapimciID__035179CE]
GO
ALTER TABLE [dbo].[Library]  WITH CHECK ADD  CONSTRAINT [FK__Kutuphane__Kulla__0A9D95DB] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Library] CHECK CONSTRAINT [FK__Kutuphane__Kulla__0A9D95DB]
GO
ALTER TABLE [dbo].[Library]  WITH CHECK ADD  CONSTRAINT [FK__Kutuphane__OyunI__0169315C] FOREIGN KEY([GameID])
REFERENCES [dbo].[Game] ([ID])
GO
ALTER TABLE [dbo].[Library] CHECK CONSTRAINT [FK__Kutuphane__OyunI__0169315C]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK__Rapor__KategoriI__1F98B2C1] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ReportCategory] ([ID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK__Rapor__KategoriI__1F98B2C1]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK__Rapor__Kullanici__208CD6FA] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK__Rapor__Kullanici__208CD6FA]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK__Rapor__OyunID__04459E07] FOREIGN KEY([GameID])
REFERENCES [dbo].[Game] ([ID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK__Rapor__OyunID__04459E07]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK__Ticket__Kullanic__2A164134] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK__Ticket__Kullanic__2A164134]
GO
USE [master]
GO
