.cart-item {
    width: 100%;
    height: 110px;
    padding: var(--gap);
    border-bottom: 1px solid #fff2;
}

.cart-item:last-child {
    border-bottom: 0;
}

    .cart-item > img {
        height: 78px;
        border: 1px solid #F37793;
        float: left;
    }

    .cart-item > a.name {
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
        padding-left: var(--gap);
        float: left;
        color: #eee;
    }

    .cart-item > .cart-price {
        float: right;
        border: 1px solid var(--goldcrayola);
        border-radius: 5px;
        user-select: none;
        line-height: 38px;
        margin-top: 20px;
        width: fit-content;
    }

.cart-price > a {
    background: var(--goldcrayola); 
    color: #111;
    padding: 9px 12px;
    font-size: 20px;
    line-height: 20px;
    float: left;
}

.cart-price > h1 {
    font-size: 16px;
    padding: 0 var(--gap);
    font-weight: 400;
    float: right;
}

.cart-price > h1::after {
    content: "TL";
}

.cart-complete {
    width: fit-content;
    display: block;
    height: 40px;
    user-select: none;
    margin: auto;
    margin-top: var(--gap);
}

.cart-total {
    height: 40px;
    border: 1px solid var(--ultrared);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0;
    float: left;
}

    .cart-total > h1 {
        font-size: 15px;
        line-height: 38px;
        font-weight: 400;
        padding: 0 var(--gap);
    }

.cart-total > h1::after {
    content: "TL";
}

a.cart-purchase {
    background: linear-gradient(75deg, var(--ultrared) 0%, var(--goldcrayola) 100%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 40px;
    display: block;
    width: fit-content;
    padding: 0 var(--gap);
    float: right;
    color: #111;
    font-weight: 700;
}

    a.cart-purchase:hover {
        background: linear-gradient(75deg, var(--ultrared) 30%, var(--goldcrayola) 100%);
    }