.game-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.game-list {
    width: 760px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#not-found {
    text-align: center;
    width: 100%;
    color: #aaa;
}

.game-content {
    padding: 5px;
    border: 1px solid #444;
    width: 700px;
    border-radius: 5px;
    background: #333;
    margin-bottom: 5px;
}

    .game-content:last-of-type {
        margin-bottom: 0;
    }

    .game-content > img {
        height: 45px;
        pointer-events: none;
        float: left;
    }

.game-price {
    padding: 7px var(--gap);
    width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-basis: auto;
    user-select: none;
    border-radius: 3px;
    float: right;
    margin-top: calc(var(--gap) / 2);
}

    .game-price > i {
        float: left;
        pointer-events: none;
        color: black;
        line-height: 21px;
    }

    .game-price > h1 {
        float: left;
        text-align: center;
        margin-left: 5px;
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
        color: #000;
    }

    .game-price#notLogged {
        background: #0004;
    }

        .game-price#notLogged > h1 {
            margin: 0;
            color: var(--goldcrayola);
        }

    .game-price#canBeAdded {
        background: var(--goldcrayola);
        color: #000;
    }

    .game-price#cannotBeAdded {
        background: var(--lightblue);
        color: #000;
    }

    .game-price#inCart {
        background: var(--lightgreen);
    }

.game-desc {
    float: left;
    padding-left: var(--gap);
}

    .game-desc > a {
        font-size: 18px;
        line-height: 20px;
        width: fit-content;
        font-weight: 700;
        color: #eee;
    }

    .game-desc > h1 {
        font-size: 12px;
        line-height: 20px;
        color: #aaa;
    }

.game-filter {
    color: #eee;
    width: 200px;
    min-height: 500px;
}

.filter-block-header {
    padding: 5px;
    background: linear-gradient(180deg, var(--ultrared) 0%, var(--goldcrayola) 100%);
    font-weight: 700;
    color: #59344F;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.filter-block-cont {
    padding: var(--gap);
    border: 1px solid var(--goldcrayola);
}
