<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata oluştu.</title>
</head>
<body>
    <hgroup>
        <h1>HATA</h1>
        <h2>Yapmaya çalıştığınız işlem sonucunda bir hata meydana geldi.</h2>
    </hgroup>
</body>
</html>
