@model DOSP.Models.Kategori

@{
    ViewBag.Title = "Kategori Ekle/Güncelle";
    ViewBag.nav = "aPanel";
}

@section nav {
    <a href="/AdminPaneli">Admin Paneli</a>
    <a href="/Kategori">Kategoriler</a>
    <a>@ViewBag.Title</a>
}

<h2>@ViewBag.Title</h2>

<form action="/Kategori/Ekle" method="post" role="form">
    @if (Model != null)
    {
        <input type="hidden" name="KategoriID" value="@Model.KategoriID" />
    }
    @if (Model.KategoriAdi == null)
    {
        <input style="padding: 5px;" value="" type="text" name="KategoriAdi" placeholder="Kategori adını giriniz" required />
    }
    else
    {
        <input style="padding: 5px;" value="@Model.KategoriAdi" type="text" name="KategoriAdi" placeholder="Kategori adını giriniz" required />
    }
    <button type="submit" class="btn btn-yellow">Kaydet</button>
</form>

<div style="font-size: 12px; line-height: 15px;">
    <a href="/Kategori">< Listeye Dön</a>
</div>