@using DOSP.Models
@model List<Category>

@{
    ViewBag.Title = "Kategoriler";
    ViewBag.nav = "aPanel";
}

@section nav {
    <a href="/AdminPaneli">Admin Paneli</a>
    <a>@ViewBag.Title</a>
}

@section scripts {
    <script>
        $("a#sil").click(function () {
            var sonuc = confirm("Kategori silinsin mi?");
            if (sonuc) {
                var id = $(this).data("ktgid");
                $.ajax(
                    {
                        type: "POST",
                        url: "/Kategori/Sil/" + id,
                        success: function () {
                            alert("Kategori başarıyla silindi.");
                            window.location.replace("/Kategori");
                        },
                        error: function () {
                            alert("Kategori silinirken hata meydana geldi.");
                        }
                    }
                );
            }
        });
    </script>
}

<a class="btn btn-yellow btn-right" href="/Kategori/Ekle" style="margin-top: 0">Kategori Ekle</a>

<table>
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th width="140px">Kontrol Tuşları</th>
    </tr>
    @foreach (Category c in Model)
    {
        <tr>
            <td>@c.ID</td>
            <td>@c.Name</td>
            <td>
                <a href="/Kategori/Guncelle/@c.ID" class="btn btn-green btn-left">Güncelle</a>
                <a class="btn btn-red btn-right" id="sil" data-ktgid="@c.ID">Sil</a>
            </td>
        </tr>
    }
</table>