
@{
    ViewBag.Title = "Destek";
    ViewBag.nav = "destek";
}

@section nav {
    <a>@ViewBag.Title</a>
}

<a class="sup-cont prev-ticket" href="/Destek/Gecmis">
    <h1>Ticketlarını Görüntüle</h1>
    <i class="fas fa-ticket-alt"></i>
</a>

<a class="sup-cont new-ticket" href="/Destek/Ticket">
    <h1>Ticket Oluştur</h1>
    <i class="fas fa-plus-circle"></i>
</a> 