@{
    ViewBag.Title = "Kütüphane";
    ViewBag.nav = "kutuphane";
}

@model List<DOSP.Models.Library>

@section nav {
    <a>@ViewBag.Title</a>
}

@HttpContext.Current.User.Identity.Name'nin Kütüphanesi

@foreach (var l in Model)
{
    <div class="cart-item">
        <img src="~/Content/Images/gcont/@l.Game.CoverPhoto" />
        <a href="~/Magaza/Oyun/@l.GameID" class="name">@l.Game.Title</a>
    </div>
}